.option {
    cursor: pointer;
    background-color: #3c0e70;
    opacity: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: 0.4s;
}

.option:hover {
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct-option {
    background-color: #2ceb13;
    font-weight: bold;
}

.incorrect-option {
    background-color: #f01a1a;
    opacity: 0.4;
}